<!doctype html>
<html>
<head>
    <title>Prosody Registration Form</title>
    <base href="{{ config.Path }}">
    <link
        defer
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/semantic.min.css"
        integrity="sha256-FpjP45Pz019159CFCReBCsZtVeCvGawN2Om1w+SIi0A="
        crossorigin="anonymous">
    <link
        rel="stylesheet"
        href="/styles.css" />
    <script
        src="/vendor.js"></script>
    <script
        src="/main.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body>
    <p>Much Thanks for your registration!</p>
</body>
</html>